.container {
    display: flex;
  }
  
  .movie-details {
    flex: 1;
  }
  
  .movie-menu {
    
    text-align: right;
  }
  
  .movie-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .film-item {
    cursor: pointer;
  }
  
  .movie-menu ul li:hover {
    background-color: orangered;
  }
  body{
    background-color: wheat;
  }
  #movie-poster{
    max-width: 100px;
  }
  #top{
    text-align: center;
  }
  